html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

figure {
  margin: 0;
  position: relative;
}

figure img {
  max-width: 100%;
}

#gallery figure > div {
  position: inherit !important;
}

#gallery figure img {
  position: inherit !important;
  width: auto !important;
  height: auto !important;
}